*{
    padding: 0px;
    margin: 0px;
    font-family: arial;
    font-weight: 300;
}


body{
    background-color: #F5F5F5;
}

#nav{
    height: 52px;
    background-color: #283E4A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

#mobile-messages{
    display: none;
}

#mobile-user{
    display: none;
}

#linkedin{
    display: flex;
    flex-direction: row;
}

#linkedin-logo{
    display: inline-block;
}

#linkedin-logo img{
    width: 34px;
    height: 34px;
    color: #0077B5;
    border-radius: 2px;
    margin-top: 8px;
}

#search{
    margin-top: 8px;
    margin-left: 12px;
}

#search input{
    background: url(search.png) no-repeat;
    background-size: 0.8rem;
    background-position: 3% ;
}

#search input{
    width: 250px;
    height: 34px;
    border-radius: 3px;
    padding: 3px 25px;
    background-color: #E1E9EE;
    font-size: 14px;
    border: none;
}

#search input:placeholder-shown{
    padding-left: 25px;
}

#navlinks{
    display: flex;
    flex-direction: row;
}

.navlink{
    color: white;
    margin: 8px 18px;
}

.navlink a{
    color: #e3e3e3;
    text-decoration: none;
    transition: color 0.15s ease-in;
}

.navlink a:hover{
    color: white;
}

.navlink p{
    font-size: 12px;
    text-align: center;
}

.navlink i{
    width: 100%;
    text-align: center;
    font-size: 23px;
}

#navlinks >:last-child{
    color: #9D9C84;
    width: 130px;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
}

#mobile-navbar{
    display: none;
}


#container{
    width: 600px;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding-top: 52px;
}

.notifications{
    margin: 15px 0px 30px 0px;
    box-shadow: 0px 1px 3px grey;
    background-color: white;
}

.notifications p{
    padding: 12px 15px 12px 15px;
    font-family: Source Sans Pro;
}

.notifications hr{
    color: #fcfcfc;
}

.notification{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px 0px 15px 0px;
}

.noti-content{
    display: flex;
    flex-direction: row;
}

.image img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;

}

.noti-msg{
    display: flex;
    flex-direction: column;
}

.noti-msg h3{
    font-family: Source Sans Pro;
    font-size: 22px;
    color: #616161;
    padding-left: 15px;
    font-weight: 400;
    margin-bottom: 5px;
}

.noti-msg p{
    padding: 0px 15px 10px 15px !important;
    font-family: Source Sans Pro;
    font-size: 15px;
}

.button{
    padding: 4px 15px;
}

.button a{
    padding: 5px 15px;
    border: 1px solid #0073b1;
    font-family: Source Sans Pro;
    color: #0073b1;
    text-decoration: none;
    transition: all 0.15s ease-in;
}

.button a:hover{
    background-color: #005d8f;
    color: white;
}

.more-action a i{
    font-size: 22px;
    color: #666;
    margin-right: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.new{
    background-color: #e8f8ff;
}


.dont-display{
    display: none !important;
}





@media (max-width:1008px){
 
    #nav{
        background-color: #0077b5;
    }
    
    #mobile-messages{
        display: block;
    }
    
    #navlinks{
        display: none;
    }
    
    #mobile-messages i{
         color:white;
         font-size:20px;
         margin-top:15px;
    }
    
    #mobile-user{
        display: block;
        margin: auto 0;
    }
    
    .line{
        width: 30px;
        height: 4px;
        border-radius: 3px;
        background-color: #f5f5f5;
        margin-bottom: 3px ;
        transition: all 0.2s ease-in;
    }
    
    .line0{
        margin-bottom:-10px;
        transform:rotate(-45deg);
    }
    
    .line1{
        opacity: 0;
    }
    
    .line2{
        margin-bottom:-3px;
        transform:rotate(45deg);
    }
    
    #mobile-navbar{
        display: block;
        position: fixed;
        top: 52px;
        z-index: 999;
        width: 80%;
        background-color: #0077b5;
        transform: translateX(-100%);
        transition: all 0.3s ease-in;
        height: 100vh;
        overflow-y:visible;
    }
    
    .visible-mobile-navbar{
        transform: translateX(0%) !important;
    }
    
    .user-info{
        padding: 0px 15px 20px 25px;
    }
    
    .user-info img{
        height: 72px;
        width: 72px;
        border-radius: 50%;
        margin: 5px 0px 15px 0px;
    }
    
    .user-info p{
        font-size: 14px;
        color: #f5f5f5;
    }
    
    .username{
        font-family: Source Sans Pro;
        font-weight:400;
        font-size: 20px !important;
    }
    
    .ph-number{
        opacity: 0.75;
    }
    
    .user-actions{
        background-color: white;
        height: 100vh;
        overflow-y: hidden;
    }
    
    
    .action{
        display: flex;
        flex-direction: row;
        padding: 13px 0px 13px 25px;
/*        border: 1px solid black;*/
    }
    
    .action i{
        font-size: 22px;
        color: #c2c2c2;
        margin-right: 20px;
        text-align: center;
        width: 30px;
        text-align: center;
    }
    
    .action p{
        font-family: Source Sans Pro;
        font-size: 18px;
        font-weight: bold;
        color: #585858;
        margin-left: 20px;
    }
    
    .settings{
        margin-bottom: 10px;
    }
    
    .invite-friends{
        margin-top: 10px;
    }
    
    #search input{
        width: 210px;
    }
    
    #container{
        width: 100%;
    }
    
    
    
/*
    #container{
        display: none !important;
    }
*/
    
    
}















