*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

body{
    
}

.chat-wrapper{
    width: 35%;
    background-color: whitesmoke;
}

.chats-wrapper{
    background-color: #1cd4a7;
}

.chats{
    width: 92%;
    margin: 0 auto;
    background-color: #1cd4a7;

}

.chat-header{
    display: flex;
    color: #f5f5f5;
    height: 45px;

}

.chat-header i{
    font-size: 24px;
    margin: 10px 10px 10px 0px;
    color: #f5f5f5;
}

.headings{
    font-size: 32px;
    margin: auto 0 ;
    color: #f5f5f5;
}

.chat-sec{
    width: 92%;
    margin: 0 auto;
}

.search input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 3px 0px 3px 10px;
    border: #b0b0b0 2px solid;
    margin-bottom: 45px;    
}


#search input::placeholder{
    margin: 0 auto;
    font-size: 18px;
}

.dp img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 20px;
}

.unread p{
    color: #1cd4a7;
    font-weight: bold;
    font-size: 16px;
}

.read p{
    color: #444;
    font-size: 10px;
}

.latest-message p{
    color:#4d4d4d;
    font-size: 13px;
    opacity: 0.7;
}

.unread-messages-number{
    margin-left: 25px;
}


.unread-messages-number p{
    width: 23px;
    height: 15px;
    text-align: center;
    padding: 4px 0px;
    background-color: #1cd4a7;
/*    padding: 4px 5px;*/
    border-radius: 50%;
    color: white;
    font-size: 12px;    
}

.no-new-messages{
    display: none;
}


.timestamp{
    color: #4d4d4d;
    font-size: 12px;
}

.inbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-details{
    display: flex;
    flex-direction: row;
}

.inbox-wrapper:hover{
    cursor: pointer;
}

.inbox-wrapper hr{
    color: #f5f5f5;
    margin: 1.75rem 0px;
    
}

#inboxes{
    height: 450px;
    background-color: whitesmoke;
}

#add-new{
    margin:10px auto;
    background-color: whitesmoke;
    position: absolute;
    bottom: 0%;
    width: 23.5%;
}


#add-new button{
    border: none;
    width: 100%;
    background-color: #1cd4a7;
    border-radius: 5px;
    color: #f5f5f5;
    cursor: pointer;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 20px;
    bottom: 0%;
}

.img-contact{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
}

#main{
    display: flex;
    flex-direction: row;
}

.chat-box{
    width: 100%;
}

.user{
    display: flex;
    flex-direction: row;
    margin: 0px 50px;
}

.user p{
    color: #f5f5f5;
    font-weight: 400;
    margin: auto 20px;
}

.contact-texts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    background-color: #15ab72;
    width: 100%;
}


#text-input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #a3a3a3;
    padding: 10px;
    height: 35px;
    position: absolute;
    bottom: 0%;
    width: 72.8%;
}

.fa i{
    font-size: 14px !important;
    color: #575757 !important;
    background-color: #f8f8f8 !important;
    border-radius: 4px !important;
    padding: 8px !important;
    cursor: pointer;
    margin: 0 7px;
}

.message-input {
    width: 70% !important;
}




